In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [2]:
df = pd.read_csv(r'C:\Users\Deep Joshi\Desktop\Data Analysis\Deep Learning\Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
X = df.iloc[:,3:13]
y = df.iloc[:,13]
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [4]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [5]:
geography = pd.get_dummies(X['Geography'],drop_first=True)
gender = pd.get_dummies(X['Gender'],drop_first=True)
X = pd.concat([X,geography,gender],axis=1)
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0

In [6]:
X=X.drop(['Geography','Gender'],axis=1)
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [7]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state=0)

In [8]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
import keras
from keras.models import Sequential
# Sequential is responsible for creating ANN,CNN and RNN
from keras.layers import Dense
# Dense is used to create hidden layers
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout
# Dropout is used for regularization

Using TensorFlow backend.

In [10]:
classifier = Sequential()

In [11]:
classifier.add(Dense(units=10,kernel_initializer='he_normal',activation='relu',input_dim=11))
classifier.add(Dropout(0.3))

In [12]:
classifier.add(Dense(units=20,kernel_initializer='he_normal',activation='relu'))
classifier.add(Dropout(0.4))

In [13]:
classifier.add(Dense(units=15,kernel_initializer='he_normal',activation='relu'))
classifier.add(Dropout(0.2))

In [14]:
classifier.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))

In [15]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [16]:
classifier.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 10)                120
_________________________________________________________________
dropout_1 (Dropout)          (None, 10)                0
_________________________________________________________________
dense_2 (Dense)              (None, 20)                220
_________________________________________________________________
dropout_2 (Dropout)          (None, 20)                0
_________________________________________________________________
dense_3 (Dense)              (None, 15)                315
_________________________________________________________________
dropout_3 (Dropout)          (None, 15)                0
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 16
=================================================================
Total params: 671
Trainable params: 671
Non-trainable params: 0
_________________________________________________________________

In [17]:
model_history=classifier.fit(X_train,y_train,validation_split=0.33,batch_size=10,epochs=100)

Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 2s 312us/step - loss: 0.6065 - accuracy: 0.7473 - val_loss: 0.4906 - val_accuracy: 0.7955
Epoch 2/100
5359/5359 [==============================] - 1s 229us/step - loss: 0.5077 - accuracy: 0.7899 - val_loss: 0.4711 - val_accuracy: 0.7955
Epoch 3/100
5359/5359 [==============================] - 1s 211us/step - loss: 0.4850 - accuracy: 0.7959 - val_loss: 0.4597 - val_accuracy: 0.7955
Epoch 4/100
5359/5359 [==============================] - 1s 212us/step - loss: 0.4760 - accuracy: 0.7972 - val_loss: 0.4600 - val_accuracy: 0.7963
Epoch 5/100
5359/5359 [==============================] - 1s 211us/step - loss: 0.4625 - accuracy: 0.7974 - val_loss: 0.4451 - val_accuracy: 0.7963
Epoch 6/100
5359/5359 [==============================] - 1s 212us/step - loss: 0.4637 - accuracy: 0.7987 - val_loss: 0.4439 - val_accuracy: 0.7997
Epoch 7/100
5359/5359 [==============================] - 1s 220us/step - loss: 0.4537 - accuracy: 0.8046 - val_loss: 0.4434 - val_accuracy: 0.8069
Epoch 8/100
5359/5359 [==============================] - 1s 215us/step - loss: 0.4492 - accuracy: 0.8059 - val_loss: 0.4342 - val_accuracy: 0.8058
Epoch 9/100
5359/5359 [==============================] - 1s 211us/step - loss: 0.4417 - accuracy: 0.8084 - val_loss: 0.4349 - val_accuracy: 0.8137
Epoch 10/100
5359/5359 [==============================] - 1s 210us/step - loss: 0.4374 - accuracy: 0.8145 - val_loss: 0.4332 - val_accuracy: 0.8179
Epoch 11/100
5359/5359 [==============================] - 1s 212us/step - loss: 0.4374 - accuracy: 0.8162 - val_loss: 0.4307 - val_accuracy: 0.8186
Epoch 12/100
5359/5359 [==============================] - 1s 214us/step - loss: 0.4367 - accuracy: 0.8140 - val_loss: 0.4314 - val_accuracy: 0.8251
Epoch 13/100
5359/5359 [==============================] - 1s 210us/step - loss: 0.4313 - accuracy: 0.8136 - val_loss: 0.4273 - val_accuracy: 0.8232
Epoch 14/100
5359/5359 [==============================] - 1s 213us/step - loss: 0.4279 - accuracy: 0.8216 - val_loss: 0.4276 - val_accuracy: 0.8292
Epoch 15/100
5359/5359 [==============================] - 1s 197us/step - loss: 0.4171 - accuracy: 0.8225 - val_loss: 0.4163 - val_accuracy: 0.8349
Epoch 16/100
5359/5359 [==============================] - 1s 202us/step - loss: 0.4138 - accuracy: 0.8261 - val_loss: 0.4097 - val_accuracy: 0.8353
Epoch 17/100
5359/5359 [==============================] - 1s 218us/step - loss: 0.4107 - accuracy: 0.8287 - val_loss: 0.4094 - val_accuracy: 0.8323
Epoch 18/100
5359/5359 [==============================] - 1s 217us/step - loss: 0.4055 - accuracy: 0.8293 - val_loss: 0.3984 - val_accuracy: 0.8330
Epoch 19/100
5359/5359 [==============================] - 1s 201us/step - loss: 0.4024 - accuracy: 0.8345 - val_loss: 0.3992 - val_accuracy: 0.8364
Epoch 20/100
5359/5359 [==============================] - 1s 203us/step - loss: 0.4039 - accuracy: 0.8328 - val_loss: 0.3980 - val_accuracy: 0.8360
Epoch 21/100
5359/5359 [==============================] - 1s 214us/step - loss: 0.4008 - accuracy: 0.8324 - val_loss: 0.4022 - val_accuracy: 0.8357
Epoch 22/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.4019 - accuracy: 0.8315 - val_loss: 0.3976 - val_accuracy: 0.8360
Epoch 23/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.4000 - accuracy: 0.8332 - val_loss: 0.3892 - val_accuracy: 0.8387
Epoch 24/100
5359/5359 [==============================] - 1s 202us/step - loss: 0.3952 - accuracy: 0.8352 - val_loss: 0.3856 - val_accuracy: 0.8387
Epoch 25/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3973 - accuracy: 0.8337 - val_loss: 0.3841 - val_accuracy: 0.8368
Epoch 26/100
5359/5359 [==============================] - 1s 202us/step - loss: 0.3977 - accuracy: 0.8304 - val_loss: 0.3853 - val_accuracy: 0.8349
Epoch 27/100
5359/5359 [==============================] - 1s 205us/step - loss: 0.3874 - accuracy: 0.8362 - val_loss: 0.3807 - val_accuracy: 0.8406
Epoch 28/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3866 - accuracy: 0.8373 - val_loss: 0.3758 - val_accuracy: 0.8391
Epoch 29/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3854 - accuracy: 0.8405 - val_loss: 0.3810 - val_accuracy: 0.8395
Epoch 30/100
5359/5359 [==============================] - 1s 197us/step - loss: 0.3911 - accuracy: 0.8364 - val_loss: 0.3807 - val_accuracy: 0.8383
Epoch 31/100
5359/5359 [==============================] - 1s 198us/step - loss: 0.3888 - accuracy: 0.8378 - val_loss: 0.3811 - val_accuracy: 0.8376
Epoch 32/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3897 - accuracy: 0.8352 - val_loss: 0.3803 - val_accuracy: 0.8406
Epoch 33/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3889 - accuracy: 0.8339 - val_loss: 0.3820 - val_accuracy: 0.8398
Epoch 34/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3838 - accuracy: 0.8377 - val_loss: 0.3731 - val_accuracy: 0.8455
Epoch 35/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3804 - accuracy: 0.8349 - val_loss: 0.3744 - val_accuracy: 0.8451
Epoch 36/100
5359/5359 [==============================] - 1s 196us/step - loss: 0.3921 - accuracy: 0.8319 - val_loss: 0.3761 - val_accuracy: 0.8432
Epoch 37/100
5359/5359 [==============================] - 1s 196us/step - loss: 0.3831 - accuracy: 0.8313 - val_loss: 0.3751 - val_accuracy: 0.8455
Epoch 38/100
5359/5359 [==============================] - 1s 195us/step - loss: 0.3941 - accuracy: 0.8302 - val_loss: 0.3717 - val_accuracy: 0.8451
Epoch 39/100
5359/5359 [==============================] - 1s 195us/step - loss: 0.3812 - accuracy: 0.8414 - val_loss: 0.3745 - val_accuracy: 0.8474
Epoch 40/100
5359/5359 [==============================] - 1s 196us/step - loss: 0.3851 - accuracy: 0.8382 - val_loss: 0.3736 - val_accuracy: 0.8459
Epoch 41/100
5359/5359 [==============================] - 1s 193us/step - loss: 0.3838 - accuracy: 0.8378 - val_loss: 0.3708 - val_accuracy: 0.8432
Epoch 42/100
5359/5359 [==============================] - 1s 196us/step - loss: 0.3854 - accuracy: 0.8369 - val_loss: 0.3703 - val_accuracy: 0.8474
Epoch 43/100
5359/5359 [==============================] - 1s 196us/step - loss: 0.3849 - accuracy: 0.8408 - val_loss: 0.3788 - val_accuracy: 0.8444
Epoch 44/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3867 - accuracy: 0.8397 - val_loss: 0.3768 - val_accuracy: 0.8455
Epoch 45/100
5359/5359 [==============================] - 1s 193us/step - loss: 0.3800 - accuracy: 0.8418 - val_loss: 0.3792 - val_accuracy: 0.8448
Epoch 46/100
5359/5359 [==============================] - 1s 193us/step - loss: 0.3808 - accuracy: 0.8397 - val_loss: 0.3780 - val_accuracy: 0.8410
Epoch 47/100
5359/5359 [==============================] - 1s 196us/step - loss: 0.3779 - accuracy: 0.8425 - val_loss: 0.3750 - val_accuracy: 0.8421
Epoch 48/100
5359/5359 [==============================] - 1s 203us/step - loss: 0.3856 - accuracy: 0.8364 - val_loss: 0.3770 - val_accuracy: 0.8421
Epoch 49/100
5359/5359 [==============================] - 1s 230us/step - loss: 0.3815 - accuracy: 0.8423 - val_loss: 0.3764 - val_accuracy: 0.8451
Epoch 50/100
5359/5359 [==============================] - 1s 219us/step - loss: 0.3829 - accuracy: 0.8423 - val_loss: 0.3745 - val_accuracy: 0.8482
Epoch 51/100
5359/5359 [==============================] - 1s 228us/step - loss: 0.3839 - accuracy: 0.8393 - val_loss: 0.3713 - val_accuracy: 0.8455
Epoch 52/100
5359/5359 [==============================] - 1s 212us/step - loss: 0.3871 - accuracy: 0.8388 - val_loss: 0.3749 - val_accuracy: 0.8474
Epoch 53/100
5359/5359 [==============================] - 1s 213us/step - loss: 0.3765 - accuracy: 0.8401 - val_loss: 0.3687 - val_accuracy: 0.8470
Epoch 54/100
5359/5359 [==============================] - 1s 231us/step - loss: 0.3823 - accuracy: 0.8403 - val_loss: 0.3768 - val_accuracy: 0.8474
Epoch 55/100
5359/5359 [==============================] - 1s 214us/step - loss: 0.3796 - accuracy: 0.8416 - val_loss: 0.3689 - val_accuracy: 0.8474
Epoch 56/100
5359/5359 [==============================] - 1s 198us/step - loss: 0.3830 - accuracy: 0.8414 - val_loss: 0.3726 - val_accuracy: 0.8466
Epoch 57/100
5359/5359 [==============================] - 1s 193us/step - loss: 0.3859 - accuracy: 0.8386 - val_loss: 0.3780 - val_accuracy: 0.8459
Epoch 58/100
5359/5359 [==============================] - 1s 192us/step - loss: 0.3789 - accuracy: 0.8440 - val_loss: 0.3675 - val_accuracy: 0.8470
Epoch 59/100
5359/5359 [==============================] - 1s 197us/step - loss: 0.3796 - accuracy: 0.8418 - val_loss: 0.3721 - val_accuracy: 0.8470
Epoch 60/100
5359/5359 [==============================] - 1s 195us/step - loss: 0.3750 - accuracy: 0.8433 - val_loss: 0.3686 - val_accuracy: 0.8474
Epoch 61/100
5359/5359 [==============================] - 1s 197us/step - loss: 0.3838 - accuracy: 0.8421 - val_loss: 0.3746 - val_accuracy: 0.8482
Epoch 62/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3780 - accuracy: 0.8444 - val_loss: 0.3696 - val_accuracy: 0.8478
Epoch 63/100
5359/5359 [==============================] - 1s 193us/step - loss: 0.3780 - accuracy: 0.8393 - val_loss: 0.3693 - val_accuracy: 0.8493
Epoch 64/100
5359/5359 [==============================] - 1s 193us/step - loss: 0.3739 - accuracy: 0.8447 - val_loss: 0.3641 - val_accuracy: 0.8538
Epoch 65/100
5359/5359 [==============================] - 1s 197us/step - loss: 0.3800 - accuracy: 0.8438 - val_loss: 0.3721 - val_accuracy: 0.8482
Epoch 66/100
5359/5359 [==============================] - 1s 195us/step - loss: 0.3807 - accuracy: 0.8416 - val_loss: 0.3716 - val_accuracy: 0.8470
Epoch 67/100
5359/5359 [==============================] - 1s 195us/step - loss: 0.3802 - accuracy: 0.8425 - val_loss: 0.3729 - val_accuracy: 0.8466
Epoch 68/100
5359/5359 [==============================] - 1s 193us/step - loss: 0.3761 - accuracy: 0.8446 - val_loss: 0.3644 - val_accuracy: 0.8448
Epoch 69/100
5359/5359 [==============================] - 1s 197us/step - loss: 0.3726 - accuracy: 0.8481 - val_loss: 0.3738 - val_accuracy: 0.8512
Epoch 70/100
5359/5359 [==============================] - 1s 195us/step - loss: 0.3786 - accuracy: 0.8425 - val_loss: 0.3758 - val_accuracy: 0.8489
Epoch 71/100
5359/5359 [==============================] - 1s 196us/step - loss: 0.3687 - accuracy: 0.8498 - val_loss: 0.3657 - val_accuracy: 0.8535
Epoch 72/100
5359/5359 [==============================] - 1s 196us/step - loss: 0.3813 - accuracy: 0.8403 - val_loss: 0.3714 - val_accuracy: 0.8542
Epoch 73/100
5359/5359 [==============================] - 1s 196us/step - loss: 0.3778 - accuracy: 0.8466 - val_loss: 0.3673 - val_accuracy: 0.8516
Epoch 74/100
5359/5359 [==============================] - 1s 195us/step - loss: 0.3779 - accuracy: 0.8447 - val_loss: 0.3702 - val_accuracy: 0.8538
Epoch 75/100
5359/5359 [==============================] - 1s 197us/step - loss: 0.3756 - accuracy: 0.8444 - val_loss: 0.3650 - val_accuracy: 0.8516
Epoch 76/100
5359/5359 [==============================] - 1s 215us/step - loss: 0.3755 - accuracy: 0.8472 - val_loss: 0.3641 - val_accuracy: 0.8512
Epoch 77/100
5359/5359 [==============================] - 1s 217us/step - loss: 0.3755 - accuracy: 0.8423 - val_loss: 0.3612 - val_accuracy: 0.8531
Epoch 78/100
5359/5359 [==============================] - 1s 205us/step - loss: 0.3777 - accuracy: 0.8425 - val_loss: 0.3685 - val_accuracy: 0.8527
Epoch 79/100
5359/5359 [==============================] - 1s 207us/step - loss: 0.3784 - accuracy: 0.8427 - val_loss: 0.3640 - val_accuracy: 0.8542
Epoch 80/100
5359/5359 [==============================] - 1s 201us/step - loss: 0.3790 - accuracy: 0.8429 - val_loss: 0.3657 - val_accuracy: 0.8512
Epoch 81/100
5359/5359 [==============================] - 1s 204us/step - loss: 0.3822 - accuracy: 0.8418 - val_loss: 0.3670 - val_accuracy: 0.8508
Epoch 82/100
5359/5359 [==============================] - 1s 207us/step - loss: 0.3763 - accuracy: 0.8442 - val_loss: 0.3633 - val_accuracy: 0.8557
Epoch 83/100
5359/5359 [==============================] - 1s 205us/step - loss: 0.3776 - accuracy: 0.8442 - val_loss: 0.3669 - val_accuracy: 0.8573
Epoch 84/100
5359/5359 [==============================] - 1s 203us/step - loss: 0.3803 - accuracy: 0.8496 - val_loss: 0.3716 - val_accuracy: 0.8542
Epoch 85/100
5359/5359 [==============================] - 1s 206us/step - loss: 0.3832 - accuracy: 0.8453 - val_loss: 0.3691 - val_accuracy: 0.8523
Epoch 86/100
5359/5359 [==============================] - 1s 206us/step - loss: 0.3815 - accuracy: 0.8451 - val_loss: 0.3684 - val_accuracy: 0.8538
Epoch 87/100
5359/5359 [==============================] - 1s 197us/step - loss: 0.3801 - accuracy: 0.8464 - val_loss: 0.3668 - val_accuracy: 0.8516
Epoch 88/100
5359/5359 [==============================] - 1s 198us/step - loss: 0.3730 - accuracy: 0.8502 - val_loss: 0.3702 - val_accuracy: 0.8546
Epoch 89/100
5359/5359 [==============================] - 1s 200us/step - loss: 0.3709 - accuracy: 0.8475 - val_loss: 0.3593 - val_accuracy: 0.8565
Epoch 90/100
5359/5359 [==============================] - 1s 196us/step - loss: 0.3758 - accuracy: 0.8483 - val_loss: 0.3704 - val_accuracy: 0.8535
Epoch 91/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3762 - accuracy: 0.8466 - val_loss: 0.3677 - val_accuracy: 0.8523
Epoch 92/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3787 - accuracy: 0.8455 - val_loss: 0.3709 - val_accuracy: 0.8580
Epoch 93/100
5359/5359 [==============================] - 1s 203us/step - loss: 0.3796 - accuracy: 0.8470 - val_loss: 0.3679 - val_accuracy: 0.8523
Epoch 94/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3706 - accuracy: 0.8518 - val_loss: 0.3593 - val_accuracy: 0.8569
Epoch 95/100
5359/5359 [==============================] - 1s 212us/step - loss: 0.3749 - accuracy: 0.8468 - val_loss: 0.3578 - val_accuracy: 0.8538
Epoch 96/100
5359/5359 [==============================] - 1s 196us/step - loss: 0.3763 - accuracy: 0.8481 - val_loss: 0.3725 - val_accuracy: 0.8535
Epoch 97/100
5359/5359 [==============================] - 1s 198us/step - loss: 0.3825 - accuracy: 0.8397 - val_loss: 0.3709 - val_accuracy: 0.8561
Epoch 98/100
5359/5359 [==============================] - 1s 196us/step - loss: 0.3821 - accuracy: 0.8408 - val_loss: 0.3620 - val_accuracy: 0.8565
Epoch 99/100
5359/5359 [==============================] - 1s 203us/step - loss: 0.3744 - accuracy: 0.8485 - val_loss: 0.3656 - val_accuracy: 0.8554
Epoch 100/100
5359/5359 [==============================] - 1s 198us/step - loss: 0.3793 - accuracy: 0.8423 - val_loss: 0.3712 - val_accuracy: 0.8546

In [18]:
y_pred=classifier.predict(X_test)
y_pred = y_pred > 0.5

In [19]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
print(cm)

[[1519   76]
 [ 186  219]]

In [20]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_pred,y_test))

0.869

# Hyperparameter Optimization

In [21]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV

In [22]:
from keras.models import Sequential
from keras.layers import Dense, Activation, Embedding, Flatten, LeakyReLU, BatchNormalization, Dropout
from keras.activations import relu, sigmoid

In [23]:
def create_model(layers, activation):
    model = Sequential()
    for i, nodes in enumerate(layers):
        if i==0:
            model.add(Dense(nodes,input_dim=X_train.shape[1]))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
        else:
            model.add(Dense(nodes))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
            
    model.add(Dense(units = 1, kernel_initializer= 'glorot_uniform', activation = 'sigmoid')) # Note: no activation beyond this point
    
    model.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])
    return model

In [24]:
model = KerasClassifier(build_fn=create_model, verbose=0)

In [25]:
layers = [[20], [30, 20]]
activations = ['sigmoid', 'relu']
param_grid = dict(layers=layers, activation=activations, batch_size = [128, 256], epochs=[30])
grid = GridSearchCV(estimator=model, param_grid=param_grid,cv=5)
grid_result = grid.fit(X_train, y_train)

In [26]:
[grid_result.best_score_,grid_result.best_params_]

[0.8521250009536743,
 {'activation': 'relu', 'batch_size': 128, 'epochs': 30, 'layers': [30, 20]}]